<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="icon" href="{{ '/assets/images/og-cti.jpg' | relative_url }}">
{% seo %}
<link rel="stylesheet" href="{{ '/assets/css/design.css' | relative_url }}">
<meta property="og:image" content="{{ '/assets/images/og-cti.jpg' | absolute_url }}">
